<footer class="footer-section">
    <mat-toolbar color="primary" class="footer-toolbar">
        <div class="footer-content">
            <div class="footer-subscription">
                <h4 class="subscribe-title">Subscribe to my blog</h4>
                <form class="subscribe-form">
                    <input type="email" placeholder="Your Email" class="email-input">
                    <button class="subscribe-btn">
                        Subscribe
                    </button>
                </form>
            </div>
            <div class="footer-list">
                <mat-list class="footer-group1">
                    <mat-list-item> About</mat-list-item>
                    <mat-list-item> Contact </mat-list-item>
                    <mat-list-item> Privacy </mat-list-item>
                </mat-list>
                <mat-list class="footer-group2">
                    <mat-list-item><img src="../../assets/icons/twitter.svg" alt=""></mat-list-item>
                    <mat-list-item><img src="../../assets/icons/facebook.svg" alt=""> </mat-list-item>
                    <mat-list-item><img src="../../assets/icons/email.svg" alt=""></mat-list-item>
                </mat-list>
            </div>
        </div>
        <p class="footer-copyright">© 2023, Alireza Naderi. All rights reserved</p>
    </mat-toolbar>
</footer>