.hero-section{
    height: 42vh;
    background-color: #5A666C;
    padding-top: 6rem;
}

.hero-container{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
    gap: 5rem;
}
.hero-image{
    width: 530px;
    height: 490px;
}
.hero-image img{
    height: 100%;
}

.hero-text{
    display: flex !important;
    justify-content: end !important;
    padding: 0 !important;
    height: 29rem !important;
}

.hero-items{
    color: #fff;
    gap: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.hero-date{
    font-size: 20px;
}

.hero-title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 0;
}

.hero-content{
    font-size: 24px;
    line-height: 2rem;
    margin-bottom: 0;
}

.btn-primary{
    background-color: #998F5D;
    color: black;
}

@media only screen and (max-width: 1500px) {
    .hero-section{
        height: 55vh;
    }
}

@media only screen and (max-width: 1267px) {
    
    .hero-items {
      gap: 1rem;
    }
    .hero-title{
        font-size: 30px;
    }
    .hero-content{
        font-size: 20px;
    }
    .hero-date{
        font-size: 18px;
    }
    .hero-container{
        gap: 3rem;
    }
}

@media only screen and (max-width: 1074px) {
    .hero-section{
        padding-top: 3rem;
    }

    .hero-image{
        height: 419px;
    }
}

@media only screen and (max-width: 910px) {
    .hero-image{
        height: 319px;
    }
}

@media only screen and (max-width: 793px) {
    .hero-image{
        height: 265px;
    }
    .hero-title{
        font-size: 26px;
    }
    .hero-content{
        font-size: 16px;
    }
    .hero-date{
        font-size: 14px;
    }
    .hero-container{
        gap: 2rem;
    }
}

@media only screen and (max-width: 674px){
    .hero-title{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .hero-content{
        font-size: 13px;
        line-height: 1rem;
    }
    .hero-date{
        font-size: 10px;
    }
    .hero-date{
        font-size: 8px;
    }
    .hero-image{
        height: 255px;
    }
}